/* The * selector targets everything across the entire stylesheet. 
*  Every other selector will have margin 0 and padding 0 unless 
*  overridden by an element with a higher specificity. The universal
*  selector has a specificity of 0. */

* {
	margin: 0px;
	padding: 0px;
}
body {
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-image: url("../img/bg-tile.jpg");
  background-repeat: repeat-x;
	background-color: #171717;
	font-size: 16px;
	line-height: 1.5em;
}
#container {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	background-color: #FFF;
	margin-top: 20px;
	border: 1px solid #CCC;
}

a {
  color: #CDE6FF;
}

#header {

}
#header h1 a {
  display: block;
  background-image: url("../resources/header.webp");
  height: 140px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
#nav {
	background-color: #000;
}
#nav ul {
	list-style-type: none;
	margin-left: 10px;
}
#nav ul li {
	display: inline;
	height: 35px;
	line-height: 35px;
}
#nav ul li a {
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 18px;
}
#nav ul li a:link, #nav ul li a:visited {
	text-decoration: none;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	color: #FFF;
}
#nav ul li a:hover {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
#content {
	margin: 20px;
}
#content p {
	margin-top: 5px;
	margin-bottom: 15px;
}

h2 {
  color: #df2e2f;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #300;
}

h3 {
  border: 1px solid #000;
  border-radius: 3px;
  padding: 3px 5px 5px 5px;
  font-size: 28px;
  background-color: #000;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 3px #FFF;
  color: #FFF;
  box-shadow: 0px 0px 3px #000;
}

h4 {
  color: #ad5f47;
}

.alert {
  background-color: #AF0000;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0px 0px 2px #990000;
  text-align: center;
  font-weight: 650;
  color: #FFF;
}

#footer {
	background-color: #000;
	color: #FFF;
	height: 50px;
}
#footer h6 {
  text-align: center;
	font-size: 12px;
	line-height: 25px;
	margin-right: 20px;
	margin-left: 20px;
}
