/* Remember to go back and scale fonts, currently floating between
*  1.3 and 1.5 rem I think on headings. Text is pretty much good.
*  Also remember to do alt text on images. */

:root {
  --accent: #a0522d;
  --bg-primary: #e5e5e5;
  --bg-secondary: #515151;
}

html {
  margin: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "barlow";
}

h1,
h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.3rem;
}

.hero {
  position: relative;
}

.hero img {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  object-fit: cover;
  object-position: 45% 50%;
}

.hero-img-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, #161616ff 0%, #51515100 50%);
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom, #343434f2, #34343400);
}

.navbar img {
  width: 35vw;
  max-width: 160px;
  height: auto;
  margin: 10px auto auto 1vw;
}

.nav-mobile-btn img {
  width: 12vw;
  max-width: 65px;
  height: auto;
  margin: 0 1vw 0 auto;
}

.nav-links {
  display: none;
}

.hero-text {
  position: absolute;
  width: 100%;
  bottom: 5%;

  & p,
  & h1 {
    margin: 0 0 0 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
  }

  & p {
    font-size: 1.3rem;
  }

  & h1 {
    font-size: 2.3rem;
  }
}

.hero-btn,
.page-btn {
  display: block;
  color: #fff;
  background-color: var(--accent);
  text-decoration: none;
  font-size: 1.3rem;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  width: fit-content;
  margin: 80px auto 0;
}

.page-bg {
  background: url("../img/plans_bg_low_opacity.webp");
  background-size: 200vh auto;
  background-position: -390px -150px;
  padding-bottom: 10px;
}

.intro {
  margin: 25px 0 0 5px;

  & h1,
  & h2 {
    margin: 0;
    line-height: 1.4;
  }
}

.block-p {
  font-size: 1.2rem;
  line-height: 1.4;
}

.services {
  padding: 5px 0;
  background-color: var(--bg-primary);

  & h2 {
    margin: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
  }

  & ul {
    padding-left: 10px;
  }

  & ul li {
    padding-left: 5px;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 300;
    border-left: 2px solid var(--accent);
    margin: 20px 0 20px 0;
  }
}

.heber-deco-img {
  display: none;
}

.commitment-block,
.career-block {
  margin-top: 30px;

  & h2 {
    margin: 5px 10px 0 10px;
    border-top: 1px solid var(--accent);
  }

  & p {
    margin: 10px;
  }
}

.safety-block {
  position: relative;

  & img {
    width: 100%;
  }
}

.safety-note {
  position: relative;
  margin-top: -40px;
  margin-left: 5vw;
  margin-right: 5vw;

  display: block;
  padding: 10px;
  background-color: var(--bg-secondary);
  box-shadow:
    inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  color: #fff;

  & h2 {
    font-size: 1.5rem;
    margin: 5px;
    border-bottom: 1px solid var(--accent);
  }

  & p {
    margin: 5px;
  }
}

.career-block {
  & .page-btn {
    margin: 20px auto;
  }

  & img {
    display: none;
  }
}

footer {
  background-color: var(--bg-primary);

  & ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    padding-top: 20px;
    list-style-type: none;
  }

  & ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
  }

  & img {
    width: 150px;
    display: block;
    margin: 0 auto;
  }

  & p {
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin: 5px auto;
  }

  & #author {
    font-size: 0.8rem;
  }

  & #author a {
    color: #000;
  }
}

/* Will drop this in a media query for desktop
*
  & #author a:hover {
    transition: ease 0.5s;
    font-size: 1rem;
    color: var(--accent);
  }
*/
