html {
  margin: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.hero img {
  position: relative;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: 45% 50%;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom, #343434f2, #34343400);
}

.navbar img {
  width: 35vw;
  max-width: 160px;
  height: auto;
  margin: 10px auto auto 1vw;
}

.nav-mobile-btn img {
  width: 12vw;
  max-width: 65px;
  height: auto;
  margin: 0 1vw 0 auto;
}

.nav-links {
  display: none;
}
