:root {
  --accent: #a0522d;
}

html {
  margin: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "barlow";
}

.hero {
  position: relative;
}

.hero img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: 45% 50%;
}

.hero-img-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, #161616ff 0%, #51515100 50%);
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom, #343434f2, #34343400);
}

.navbar img {
  width: 35vw;
  max-width: 160px;
  height: auto;
  margin: 10px auto auto 1vw;
}

.nav-mobile-btn img {
  width: 12vw;
  max-width: 65px;
  height: auto;
  margin: 0 1vw 0 auto;
}

.nav-links {
  display: none;
}

.hero-text {
  position: absolute;
  width: 100%;
  bottom: 5%;

  & p,
  & h1 {
    margin: 0 0 0 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
  }

  & p {
    font-size: 1.3rem;
  }

  & h1 {
    font-size: 2.3rem;
  }
}

.hero-btn {
  display: block;
  color: #fff;
  background-color: var(--accent);
  text-decoration: none;
  font-size: 1.3rem;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  width: fit-content;
  margin: 80px auto 0;
}

.page-bg {
  background: url("../img/plans_bg_low_opacity.webp");
  background-size: 220vh auto;
  background-position: -390px 0px;
}

.intro {
  margin: 25px 0 0 5px;

  & h1,
  & h2 {
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    font-size: 1.3rem;
    line-height: 1.4;
  }
}
