* {
 font: montserrat;
 background-color: #232323; 
 color: #FFF;
}

body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 20px;  
  max-width: 80vw;
  margin: 20px auto;
}

header.primary {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  border-bottom: 1px solid #FFF;
  padding: 5px 0px;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  border-radius: 5px;
  padding: 5px 0px;
  text-align: center;
  background-color: #343434;
}

.content * {
  background-color: #343434;
  list-style-type: none;
}

.content ul li {
  margin: 5px;
  text-decoration: none;
}

#projects {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

#gridlab {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
}
