* {
 font: montserrat;
 background-color: #232323; 
 color: #FFF;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;  
  max-width: 80vw;
  margin: 20px auto;
}

header.primary {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-bottom: 1px solid #FFF;
  padding: 0px 0px;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  border-radius: 5px;
  padding: 5px 0px;
  text-align: center;
}

.content * {
  font-size: 1.2rem;
  list-style-type: none;
  padding: 0px;
}

.content ul {
}

.content ul li {
  margin: 10px;
  text-decoration: none;
  padding: 5px 0px;
  background-color: #343434;
  border-radius: 3px;
}

.content ul li a {
  text-decoration: none;
  background-color: #343434;
}

#projects {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#projects h3 {
  font-size: 1.4rem;
}

#gridlab {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}


@media screen and (width >= 40rem) {

}

@media screen and (width >= 48rem) {

}

@media screen and (width >= 64rem) {

}

@media screen and (width >= 80rem) {

}

@media screen and (width >= 96rem) {

}


